:root {
 --basic-black: #000000;
 --basic-white: #ffffff;
 --basic-extra-gray: #eeeeee;
 --basic-red: #FB565A;
 --special: #4D4D4D;
 --basic-dark-grey: #283136;
}
body {
  min-width: 1460px;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*navigation*/
.main-header {
  background-color: var(--basic-extra-gray);
}
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-extra-gray);
  text-transform: uppercase;
  font-weight: 500;
}
.site-navigation {
  list-style: none;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}
.subject {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--basic-extra-gray);
}
/* User navigation */


.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
  outline: none;
  cursor: pointer;
}
/* Features */

.features-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.feature-item img {
  background-color: var(--basic-extra-gray);
}
.feature-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
/*Filter*/
.filter .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.container {
  width: 260px;
  height: 80px;
  background-color: var(--basic-extra-gray);
}
.container .slider {
  background-color: #00CA74;
  pointer-events: none;
  cursor: pointer;
}
.from,
.to {
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: #283136;
}
.sorting ul {
  list-style: none;
}
.sorting .by_type,
.sorting .by_name,
.sorting .by_price {
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.value-from,
.value-to {
  background-color: var(--basic-extra-gray);
  color: #283136;
  width: 80px;
  height: 38px;
  border-radius: 3px;
  border: none;
}
.filter ul {
  list-style: none;
  line-height: 19px;
  font-size: 16px;
  color: var(--special);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-dark-grey);
}
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--basic-dark-grey);
}
/*Buttons*/

.button-order {
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
}
.button-learn-more {
  width: 240px;
  background-color: #FB565A;
}

.button-order1,
.button-write {
  background-color: #FB565A;
}
.button-order2{
  background-color: #00CA74;
}
.button-order3 {
  background-color: #EFC849;
}
.button-order1:hover,
.button-order1:focus,
.button-learn-more:hover,
.button-learn-more:focus,
.button-write:hover,
.button-write:focus {
  background-color: #E74246;
}
.button-order1:active,
.button-learn-more:active,
.button-write:active {
  background-color: #D7373B;
}
.button-order2:hover,
.button-order2:focus {
  background-color: #00BC6C;
}
.button-order2:active{
  background-color: #00AA62;
}
.button-order3:hover,
.button-order3:focus {
  background-color: #EAB534;
}
.button-order3:active{
  background-color: #EAB534;
}
.button-price {
  width: 200px;
  height: 50px;
  background: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-white);
  border-radius: 3px;
  border: none;
}
.button-price:hover,
.button-price:focus {
  background-color: #E74246;
}
.button-price:active {
  background-color:  #D7373B;
}
.button-show {
  width: 260px;
  height: 50px;
  background-color: var(--basic-extra-gray);
  color: var(--basic-black);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  border: none;
}
.button-show:hover,
.button-show:focus {
  background-color: #DFDFDF;
  outline: none;
  cursor: pointer;
}
.button-show:active{
  background-color:#D5D5D5;
}
.button-write {
  width: 219px;
  height: 50px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}
.button-write a {
  text-decoration: none;
}
/*FOOTER*/
.footer-social {
  background-color: var(--basic-white);
}
.down,
.up {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-social ul {
  list-style: none;
  }

.footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}
.footer-social p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-footer {
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;
}
/*Product*/
.template {
  background-color: var(--basic-white);
}
.image {
  width: 360px;
  height: 580px;
  background: #F2F2F2; 
}
.popup {
  width: 360px;
  height: 231px;
  background: var(--basic-extra-gray);

}
.popup h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.popup p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}
/*Slider*/
.slider {
background-color: var(--basic-extra-gray);
}
.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
  color: var(--basic-black);
}
.slider p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #283136;
}
/*description*/
.description h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}
.description p,
.description h3,
.description ul {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
.description h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.description ul {
  list-style: none;
}
/*pagination*/
.pagination-list {
  list-style: none;
}
.pagination-item {
  width: 50px;
  height: 50px;
  background-color: var(--basic-extra-gray);
  border-radius: 3px;
  border: none;
}
.pagination-item a {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #DFDFDF;
}
.pagination-item:active {
  background-color: #D5D5D5;
}
.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  color: var(--basic-black);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.0001);
}
.next-page {
  width: 260px;
  height: 50px;
}
.next-page a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
.next-page:hover,
.next-page:focus {
  background-color: #DFDFDF;
}
.next-page:active {
  background-color: #D5D5D5;
}
/*features*/
.features {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-weight: bold;
}
.features h3 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.features-percent {
  font-size: 45px;
  line-height: 64px;
}
.features-percent .sign-percent {
  font-size: 26px;
  line-height: 40px;
}
.features-list p {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #283136;
}
/*Partners*/
.partners {
  background-color: var(--basic-white);
}
.partners ul {
  list-style: none;
}
/*contacts*/
.contacts {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
}
.contacts p {
  font-size: 16px;
line-height: 18px;
align-items: center;
color: #666666;
}
