:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-extra-gray: #eeeeee;
	--basic-red: #FB565A;
	--special: #4D4D4D;
	--basic-dark-grey: #283136;
	--basic-light-gray: #666666;
	--basic-light-red: #E74246;
	--basic-extra-red: #D7373B;
	--basic-ultra-light-gray: #DFDFDF;
	--basic-light-silver: #D5D5D5;
	--basic-light-green: #00CA74;
	--basic-green: #00BC6C;
	--basic-dark-green: #00AA62;
	--basic-light-yellow: #EFC849;
	--basic-yellow: #EAB534;
	--basic-dark-yellow: #E5A722;
	--basic-border-color: #D7DCDE;
	--color-text-form: #444444;
	--color-range: #f1f1f1;
	--color-range-controls: #00ca74;
	--color-slider-controls: #C1C1C1;
	--color-pagination-item: #DBDBDB;
	--color-comment-form: #B4B9BB;
}

body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: var(--basic-black);
	background-color: var(--basic-white);
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


/*Grid*/

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}


/* Grid for pages */

.page-catalog {
	display: grid;
	grid-template-columns: 260px 1fr;
	align-content: start;
}


/*navigation*/

.main-header {
	background-color: var(--basic-extra-gray);
	width: 100%;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--basic-extra-gray);
	text-transform: uppercase;
	font-weight: 500;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	order: 0;
	margin-top: 50px;
	margin-right: 0px;
}


/*Container*/

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.main-navigation .container {
	display: flex;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 120px;
	cursor: pointer;
	display: flex;
}

.site-navigation li {
	margin-right: 45px;
	margin-top: 77px;
}

.site-navigation-current {
	position: relative;
}

.site-navigation .item-site-nav:first-of-type {
	margin-left: 200px;
}

.site-navigation-current a:not([href]) {
	background-color: var(--basic-black);
}

.subject {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	background-color: var(--basic-extra-gray);
	display: flex;
	align-items: center;
	margin: 72px 205px 108px 205px;
	margin-left: 208px;
}


/* User navigation */

.site-navigation .link,
.user-navigation .link {
	color: var(--basic-black);
	padding-bottom: 13px;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.site-navigation .link:hover,
.site-navigation .link:focus,
.user-navigation .link:hover,
.user-navigation .link:focus {
	color: var(--basic-red);
	outline: none;
	cursor: pointer;
}

.site-navigation .link:active,
.user-navigation .link:active {
	mix-blend-mode: normal;
	opacity: 0.3;
	color: var(--basic-black);
}

.site-navigation .active {
	border-bottom: 2px solid var(--basic-red);
}

.user-navigation .basket {
	padding-right: 25px;
}

.navigation-href .block-navigation {
	display: flex;
	justify-content: space-between;
}

.user-navigation {
	margin-right: 0px;
	margin-left: 200px;
	margin-top: 76px;
}


/* Features */

.features {
	margin-bottom: 121px;
	position: relative;
}

.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;	
}

.feature-item .article-feature {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
}

.feature-item .picture-feature {
	background-color: var(--basic-extra-gray);
}

.feature-item:not(:last-of-type) {
	margin-right: 100px;
}

.feature-item .text-feature {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin-top: -5px;
	margin-bottom: 32px;
}

.feature-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*Filter*/

.filters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 55px;
}

.filters fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 46px;
	border: none;
}

.filter .title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.filter:first-child .title {
	margin-bottom: 13px;	
}

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 35px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
	height: 41px;
	background-color: var(--color-range);
	border-radius: 5px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
}

.range-controls .scale {
	height: 2px;
	background: var(--basic-border-color);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: var(--color-range-controls);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls .min-price,
.price-controls .max-price {
	text-transform: uppercase;
	font-size: 16px;
}

.price-value {
	font-family: inherit;
	font-size: inherit;
	width: 60px;
	padding: 10px;
	margin-left: 11px;
	text-align: center;
	color: var(--basic-dark-grey);
	border: none;
	border-radius: 5px;
	background: var(--color-range);
}

.price-controls .price-value::-webkit-outer-spin-button,
.price-controls .price-value::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.price-controls .price-value {
-moz-appearance:textfield;
}

.sorting {
	display: grid;
	grid-template-columns: 394px 404px;
	padding: 0px;
	margin-bottom: 50px;
	margin-left: 140px;
	margin-top: 1px;
}

.sorting .title {
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	display: flex;
}

.sorting .sorting-navigation-list {
	list-style: none;
	display: flex;
	margin: 0;
	margin-right: 37px;
	padding: 0px;
}

.sorting-navigation {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	margin-left: 0px;
}

.control .up {
	margin-left: 18px;
	opacity: 0.2;
}

.control.active:active,
.up:active {
	opacity: 1;
}

.active.by_prices {
	opacity: 1;
}

.by_type,
.by_name,
.by_prices {
	font-size: 14px;
	line-height: 18px;
	align-items: center;
	text-transform: uppercase;
	color: var(--basic-black);
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	mix-blend-mode: normal;
	opacity: 0.3;
}

.by_prices {
	margin-right: 8px;
}

.by_type {
	margin-right: 12px;
}

.by_type:hover,
.by_name:hover,
.by_prices:hover {
	mix-blend-mode: normal;
	opacity: 0.6;
}

.by_type:active,
.by_name:active,
.by_prices:active {
	opacity: 1;
}

.filter .filter-list {
	list-style: none;
	margin-top: 14px;
}

.filter-input-checkbox:hover+.item-filter,
.filter-input-checkbox:focus+.item-filter {
	color: var(--basic-dark-grey);
	cursor: pointer;
}

.filter-input-radio:hover+.item-filter,
.filter-input-radio:focus+.item-filter {
	color: var(--basic-dark-grey);
	cursor: pointer;
}

.filter-option .item-filter {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: var(--basic-dark-grey);
	top: 3px;
	left: -2px;	
}

.filter-option:not(:last-of-type) {
	margin-bottom: 20px;
}

.filter-input-checkbox+.item-filter::before {
	content: "";
	position: absolute;
	left: -37px;
	top: -3px;
	width: 19px;
	height: 19px;
	border: 2px solid var(--special);
	opacity: 0.4;
	border-radius: 2px;
}

.filter-input-checkbox:checked+.item-filter::after {
	content: "";
	position: absolute;
	top: -5px;
	left: -34px;
	width: 27px;
	height: 24px;
	background-image: url("../img/check-mark.svg");
}

.filter-input-checkbox:hover+.item-filter::before
 {
	opacity: 1;
}
.filter-input-checkbox:checked:hover+.item-filter::after {
	content: "";
	position: absolute;
	top: -5px;
	left: -34px;
	width: 27px;
	height: 24px;
	background-image: url("../img/check-mark-active.svg");	
}

.filter-input-radio+.item-filter::before {
	content: "";
	position: absolute;
	left: -38px;
	top: -4px;
	width: 18px;
	height: 18px;
	border: 4px solid #4D4D4D;
	opacity: 0.4;
	border-radius: 50%;
}

.filter-input-radio:checked+.item-filter::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -30px;
	width: 9px;
	height: 9px;
	background-color: #4D4D4D;
	border-radius: 50%;
	opacity: 0.4;
}

.filter-input-radio:hover+.item-filter::before,
.filter-input-radio:checked:hover+.item-filter::after {
	opacity: 1;
}

/*Buttons*/

.button-order {
	display: inline-block;
	border-radius: 3px;
	padding: 15px 40px;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	border: none;
	cursor: pointer;
}

.button-learn-more {
	background-color: var(--basic-red);
	margin-bottom: 80px;
	padding: 15px 54px;
	padding-top: 17px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
}

.feature-item .button-order {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 160px;
	height: 50px;
}

.button-order:active .text-button {
	opacity: 0.3;
}

.button-order1,
.button-write,
.submit.button-order {
	background-color: var(--basic-red);
}

.button-order2 {
	background-color: var(--basic-light-green);
}

.button-order3 {
	background-color: var(--basic-light-yellow);
}

.button-order1:hover,
.button-order1:focus,
.button-learn-more:hover,
.button-learn-more:focus,
.button-write:hover,
.button-write:focus,
.submit.button-order:hover,
.submit.button-order:focus {
	background-color: var(--basic-light-red);
}

.button-order1:active,
.button-learn-more:active,
.button-write:active,
.submit.button-order:active {
	background-color: var(--basic-extra-red);
}

.button-order2:hover,
.button-order2:focus {
	background-color: var(--basic-green);
}

.button-order2:active {
	background-color: var(--basic-dark-green);
}

.button-order3:hover,
.button-order3:focus {
	background-color: var(--basic-yellow);
}

.button-order3:active {
	background-color: var(--basic-dark-yellow);
}

.button-price {
	width: 200px;
	height: 50px;
	background: var(--basic-red);
	text-transform: uppercase;
	color: var(--basic-white);
	border-radius: 3px;
	border: none;
	cursor: pointer;
	margin: 80px;
	margin-top: 32px;
	margin-bottom: 44px;
}

.button-price:hover,
.button-price:focus {
	background-color: var(--basic-light-red);
}

.button-price:active {
	background-color: var(--basic-extra-red);
}

.button-show {
	width: 260px;
	height: 50px;
	background-color: var(--basic-extra-gray);
	color: var(--basic-black);
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	border-radius: 3px;
	border: none;
}

.button-show:hover,
.button-show:focus {
	background-color: var(--basic-ultra-light-gray);
	outline: none;
	cursor: pointer;
}

.button-show:active {
	background-color: var(--basic-light-silver);
}

.button-write {
	width: 219px;
	height: 50px;
	border-radius: 3px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-white);
	border: none;
	cursor: pointer;
	margin-bottom: 47px;
}

.filter-form .button-show {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.filter:nth-child(2) {
	margin-top: 55px;
	margin-bottom: 35px;
}

/*FOOTER*/

.page-footer {
	margin-top: 48px;
}

.social-footer.container {
	margin-top: 68px;
	margin-bottom: 69px;
	display: flex;
	justify-content: space-between;
}

.footer-social {
	background-color: var(--basic-white);
	width: 261px;
	margin-left: 0px;
	padding-left: 0px;
}

.footer-social .footer-social-item:not(:last-of-type) {
	margin-right: 10px;
}

.main-footer .container {
	display: flex;
	justify-content: flex-start;
	margin-left: auto;
	margin-right: auto;
}

.footer-slogan {
	order: 1;
	margin-left: 139px;
}

.down,
.up {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.down:hover,
.up:hover {
	opacity: 0.5;
}

.footer-social .footer-social-list {
	list-style: none;
	width: 260px;
	margin: 0 auto;
	margin-left: 0px;
	display: flex;
	justify-content: flex-start;
	padding: 0px;
}

.footer-social .social-button {
	width: 81px;
	height: 81px;
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), var(--basic-white);
	border-radius: 50%;
	margin-top: 0px;
	margin-left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
	background: linear-gradient(0deg, var(--basic-light-red), var(--basic-light-red)), var(--basic-white);
}

.footer-social .social-button:active {
	background: linear-gradient(0deg, var(--basic-extra-red), var(--basic-extra-red)), var(--basic-white);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.footer-social .social-button:active .icon {
	opacity: 0.3;
}

.footer-slogan .title-footer-slogan {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
	margin-bottom: 0px;
	margin-top: 7px;
}

.footer-slogan .text-footer-slogan {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--color-text-form);
	margin-top: 10px;
}

.main-footer {
	color: var(--basic-black);
	background-position: 0 0;
	background-repeat: repeat;
}


/*Product*/

.template {
	background-color: var(--basic-white);
	margin-top: 133px;
}

.template-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: 140px;
	margin-bottom: 38px;
}

.template-item {
	width: 360px;
	max-height: 615px;
	margin-right: 40px;
	margin-bottom: 30px;
	position: relative;
}

.template-item:hover,
.template-item.active {
	cursor: pointer;
	box-shadow: 2px 2px 13px 0px rgba(196, 196, 196, 1);
}

.template-item:hover .slider-template,
.template-item.active .slider-template {
	opacity: 1;
}

.template-item:hover .popup,
.template-item.active .popup {
	display: block;
}

.template-item:nth-child(2n) {
	margin-right: 0;
}

.popup {
	max-width: 360px;
	min-height: 230px;
	max-height: 578px;
	background: var(--basic-extra-gray);
	position: absolute;
	bottom: -5px;
	display: none;
	border-radius: 0 0 2px 2px;
	cursor: default;
}

.popup .title-popup {
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-black);
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	margin-top: 26px;
	cursor: pointer;
	margin-bottom: 12px;
}

.popup .title-popup:hover,
.popup .title-popup:active {
	color: var(--basic-red);
}

.popup .title-popup:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.popup .text-popup {
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: var(--basic-light-gray);
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	margin-top: 12px;
}


/*Slider*/

.slider {
	background-color: var(--basic-extra-gray);
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 423px;
	margin-bottom: 80px;
	position: relative;
}

.slider .slider-title {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	margin-bottom: 25px;
	margin-top: 74px;
}

.slider .slider-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-dark-grey);
	margin-bottom: 38px;
}

.slider-list {
	list-style: none;
	background-image: url(../img/nerds-index-slide.png);
	background-repeat: no-repeat;
	background-position: 399px -3px;
}

.slider-item {
	display: flex;
	justify-content: flex-start;
}

.slider-template {
	background-color: var(--basic-extra-gray);
	width: 360px;
	height: 40px;
	margin-bottom: 0;
	opacity: 0.12;
}

.slider-controls {
	width: 88px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	margin: -110px auto 0;
}

.slide {
	display: none;
}

.slider-controls .slider-button {
	padding: 0;
	width: 18px;
	height: 18px;
	background-color: var(--basic-white);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}

.slider-controls .current::before {
	content: "";
	position: absolute;
	border: 2px solid var(--color-slider-controls);
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	box-sizing: border-box;
}


/*basic-information*/

.basic-information {
	display: grid;
	grid-template-columns: 1fr 360px;
	column-gap: 150px;
	margin-bottom: 53px;
}


/*description*/

.description .title-description {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
	width: 650px;
	margin-bottom: 32px;
}

.description .text-description {
	margin-bottom: 40px;
}

.description .text-description,
.description .title-description-list,
.description .description-list {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-dark-grey);
}

.description .title-description-list {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.description .description-list {
	list-style: none;
	min-height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.description .description-item {
	position: relative;
}

.description .description-item::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	background: var(--basic-red);
	top: 10px;
	left: -40px;
}


/*pagination*/

.block-pagination-list {
	margin: 0px;
	padding: 0px;
	margin-left: 100px;
}

.pagination-list {
	list-style: none;
	display: flex;	
}

.pagination-item {
	width: 50px;
	height: 50px;
	background-color: var(--basic-extra-gray);
	border-radius: 3px;
	border: none;
	margin-right: 11px;
}

.pagination-item .page-number {
	color: var(--basic-black);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 17px;
	margin-left: 20px;
	font-weight: bold;
}

.pagination-item:hover,
.pagination-item:focus {
	background-color: var(--basic-ultra-light-gray);
}

.pagination-item:active {
	background-color: var(--basic-light-silver);
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
	color: var(--basic-black);
	border: 3px solid var(--color-pagination-item);
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.0001);
}

.pagination-item-current .page-number {
	margin-top: 15px;
	margin-left: 18px;
}

.next-page {
	width: 260px;
	height: 50px;
}

.next-page .page-number {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-black);
	margin-left: 78px;
	font-weight: bold;
}

.next-page:hover,
.next-page:focus {
	background-color: var(--basic-ultra-light-gray);
}

.next-page:active {
	background-color: var(--basic-light-silver);
}


/*features*/

.features-studio {
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-weight: bold;
	margin-right: 150px;
	width: 100%;
}

.features-studio .title {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.features-percent {
	font-size: 45px;
	line-height: 64px;
}

.features-percent .sign-percent {
	font-size: 26px;
	line-height: 40px;
}

.features-studio-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.features-studio-list .features-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	align-items: center;
	color: var(--basic-dark-grey);
	margin-top: 10px;
}


/*Partners*/

.partners {
	background-color: var(--basic-white);	
	position: relative;
	left: -10px;
	margin-bottom: 34px;
}

.partner-list {
	list-style: none;
	display: flex;
	align-items: center;
	margin-top: 56px;
	margin-bottom: 34px;
}

.partner-list::after {
	content: "";
	position: absolute;
	width: 1158px;
	height: 2px;
	bottom: 0px;
	background: var(--basic-extra-gray);
	left: 15px;
}

.partner-list::before {
	content: "";
	position: absolute;
	width: 1158px;
	height: 2px;
	top: 3px;
	left: 15px;
	background: var(--basic-extra-gray);
}

.partner-item {
	opacity: 0.2;
	margin-left: 0px;
}

.partner-item:not(:last-of-type)::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 52px;
	margin-left: 50px;
	margin-top: 10px;
	background: var(--basic-extra-gray);
}

.partner-item:nth-child(2)::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 52px;
	margin-left: 44px;
	margin-top: 10px;
	background: var(--basic-extra-gray);
}

.partner-item:nth-child(3)::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 52px;
	margin-left: 55px;
	margin-top: 0px;
	background: var(--basic-extra-gray);
}

.partner-item:hover,
.partner-item:focus {
	opacity: 1;
}

.partner-item:active {
	opacity: 0.1;
}

.partner-item:first-child {
	margin-right: 95px;
}

.partner-item:nth-child(2) {
	margin-right: 104px;
}

.partner-item:nth-child(3) {
	margin-right: 120px;
}

.partner-item:nth-child(4) {
	margin-right: 0px;
}

/*contacts*/

.contacts {
	background-color: var(--basic-white);
	color: var(--basic-black);
	width: 220px;
	height: 308px;
	position: absolute;
	margin-top: 50px;
	z-index: 1;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;	
}

.footer-contacts {
	height: 416px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.contacts .title-contacts {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 49px;
	margin-bottom: 10px;	
}

.contacts .address {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-light-gray);
	margin-bottom: 35px;	
}

.telephone {
	text-decoration: none;
	color: var(--basic-light-gray);
}


/*Modal*/

.modal {
	position: relative;
}

.modal .title {
	font-weight: bold;
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
	display: flex;
	justify-content: flex-start;
	margin-left: 100px;
}

.modal .mark {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	align-items: center;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
	color: var(--color-text-form);
	background-color: var(--basic-white);
	border: 2px solid var(--basic-border-color);
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	align-items: center;
	mix-blend-mode: normal;
	border-radius: 3px;
	box-sizing: border-box;
	font: inherit;
}

.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 100px;
	margin-right: 100px;
}

.comment,
.name-block,
.mail-block {
	display: flex;
	flex-direction: column;
}

.name-block {
	margin-right: 40px;
}

.name-block,
.mail-block {
	margin-bottom: 35px;
}

.name-block,
.mail-block,
.comment {  
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.name-block .name,
.mail-block .mail {
	width: 328px;
	min-height: 18px;
	margin-top: 10px;
  padding: 16px;
}

.comment textarea {
	width: 700px;
	min-height: 100px;
	margin-bottom: 47px;
	margin-top: 10px;
	padding-left: 16px;
	padding-top: 16px;
	padding-right: 16px;
}

.comment-form input:hover,
.comment-form textarea:hover {
	border-color: var(--color-comment-form);
	color: var(--basic-black);
	opacity: 0.5;
}

.comment-form input:focus,
.comment-form textarea:focus {
	border-color: var(--basic-black);
	color: var(--basic-black);
	opacity: 1;
}

.submit.button-order {
	width: 259px;
	height: 50px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal-catolog {
	display: none;
}

.modals {
	width: 960px;
	height: 590px;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
	background-color: var(--basic-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	margin-bottom: 0px;
	position: absolute;
	bottom: 180px;
	left: 110px;
}

.modal-close {
	width: 21px;
	height: 21px;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	top: 80px;
	right: 90px;
	border: none;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	left: 0px;
	width: 21px;
	height: 3px;
	background: rgba(251, 86, 90, 0.3);
	border: none;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-close:hover::before {
	background: var(--basic-red);
}

.modal-close:hover::after {
	background: var(--basic-red);
}

.features::after {
	content: "";
	position: absolute;
	width: 1158px;
	height: 2px;
	bottom: -80px;
	background: var(--basic-extra-gray);
}

.map {
	border: none;
	width: 100%;
	height: 416px;
}

.block-map {
	width: 100%;
	height: 416px;
}